.header-logo {
    width: 70px; 
    height: 50px; 
    padding-right: 20px;
    margin-left: 5vw;
}

.header-navbar-brand {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
    text-decoration: none;
    outline: none;
}

.header-menu {
    padding-left: 15vw;
}